{
    # Global options
    admin 0.0.0.0:2019
    persist_config off
    log {
        output stdout
        level INFO
    }
}

# Public facing server
:80 {
    # Log requests
    log {
        output stdout
    }
    
    # Route all traffic through caddy-public
    handle {
        reverse_proxy caddy-public:80
    }
}

:443 {
    # Log requests
    log {
        output stdout
    }
    
    # Route all traffic through caddy-public
    handle {
        reverse_proxy caddy-public:80
    }
}